p span{
    color: cadetblue;
}
p i{
    text-align: right;
    color: darkgray;
    margin-left: 5px;
    cursor: pointer;
}
h2{
    font-size:xx-large;

    text-align: center;
   
}
.interval{
background-color: rgb(26, 119, 196);
color: honeydew;
line-height: 30px;
text-align: center;
border-radius: 5px;
font-size:12pt;
}
